/* tengo que migrarlo al Starter Kit de Adalab para que SCSS/SASS funcione */
$colorBody: #414141;
$fontBody: arial, sans-serif;
$sizefontBody: 16px;
$colorBackgroundHeaderFooter: lightgrey;
$heightHeaderFooter: 100px;
$colorBackgroundMain: #aaa;
body {
  color: $colorBody; /* Pasar a variable */
  display: flex;
  font: $sizefontBody $fontBody; /* pasar a dos variables: texto y tamaño de texto */
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
.wrapper {
  margin: 0 40px;
}
.header {
  background: $colorBackgroundHeaderFooter; /* Pasar a variable */
  height: $colorBackgroundHeaderFooter; /* Pasar a variable */
  padding: 10px 0;
  box-sizing: border-box;
}
.main {
  background: $colorBackgroundMain; /* Pasar a variable */
  flex: 1;
}
.main__title {
  color: #fff;
  font-size: 2.5em;
}
.main__content p {
  font-size: 1.1em;
  line-height: 140%;
}
.footer {
  background: $colorBackgroundHeaderFooter; /* Pasar a variable */
  height: $colorBackgroundHeaderFooter; /* Pasar a variable */
  padding: 10px 0;
  box-sizing: border-box;
}
