.nav{
    box-sizing: border-box;
    border: solid 1px black;
    height: 100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.home{
    box-sizing: border-box;
    margin-left: 20px;
}
.contacto{
    margin-right: 20px;
}
