*{
    box-sizing: border-box;
}
img{
    width: 100px;
}
.box{
    border: solid 2px red;
    height: 1000px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

}
.container{
    border: solid 2px black;
    width: 350px;
    flex-grow: 1;
}
.container5{
    order: -1;
    width: 100%;
}